* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(191, 191, 231);
}
h1 {
    background-color: rgb(154, 154, 187);
}
.questions-color {
    background-color: rgb(105, 105, 138)
}
